__pycache__/
*.pyc
.___pycache__
template/acaAssets.blend1
template/._acaAssets.blend
*.blend
*.blend1
template/._simplyhouse老版本格式.xml
template/._simplyhouse 新版本格式化.xml
template/simplyhouse 新版本格式化.xml
template/simplyhouse老版本格式.xml
template/simplyhouse copy.xml
template/._simplyhouse copy.xml
template/Fang@2x.png
template/._simplyhouse copy 2.xml
template/Fang@2x_B.png
template/simplyhouse copy 2.xml
template/._Pillar Head@2x.png
template/Pillar Head@2x.png
template/三宝珠草.png
template/箍头.png
template/栱垫板背景@2x.png
template/栱垫板导出@2x.png
template/._栱垫板背景@2x.png
template/._栱垫板导出@2x.png
template/火焰三宝珠@2x.png
template/._火焰三宝珠@2x.png
*.png
