__pycache__/
*.pyc
.___pycache__
template/acaAssets.blend1
template/._acaAssets.blend
*.blend
*.blend1
template/._simplyhouse老版本格式.xml
template/._simplyhouse 新版本格式化.xml
template/simplyhouse 新版本格式化.xml
template/simplyhouse老版本格式.xml
template/simplyhouse copy.xml
template/._simplyhouse copy.xml
template/Fang@2x.png
